/*BODY*/
* {
  box-sizing: border-box;
  color: white;
  font-family: "Merriweather", serif;
}
body {
  background-color: black;
  background-size: cover;
  background-position: center;
}
/*HEADER*/
.header {
  height: 8vh;
  display: flex;
  justify-content: space-between;
}
.navbar {
  width: 100%;
  height: 70px;
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  width: 4.2em;
  opacity: 80%;
}
.lista1 {
  width: 25%;
  font-weight: 450;
  font-size: 1.4em;
  text-shadow: 2px 2px 2px rgb(255, 175, 3);
  display: flex;
  justify-content: space-between;
}
.lista2 {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-weight: 450;
  font-size: 1em;
  text-shadow:2px 2px 2px rgb(255,175,3);
}
.lista1 li,
.lista2 li {
  margin: 0.5vh;
}
.lista1 a,
.lista2 a {
  text-decoration: none; 
  position: relative; 
  color: #fff;
  text-decoration: none;
  display: flex;
}
.lista1 a::after,
.lista2 a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: white;
  transition: width 0.3s ease;
  opacity: 65%;
}
.lista1 a:hover::after,
.lista1 a.subrayado-permanente::after {
  width: 100%; 
}
/*MAIN*/
main {
  width: 98vw;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contenido {
  width: 75vw;
  height: 75vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: #111111;
  margin-top: 4vh;
  border-bottom-right-radius: 150px;
  border-top-right-radius: 10px;
  border-top-left-radius: 120px;
  border-bottom-left-radius: 10px;
  box-shadow: 5px 5px 20px rgba(127, 126, 126, 0.681); 
  opacity: 90%;
}
.textoContenido {
  width: 60%;
  height: 100%;
}
.pagina {
  display: none;
  margin: 10%;
}
.activa {
  display: block;
}
.displayContenido {
  height: 45vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-around;
  align-items: center;
  justify-content: center;
  margin-top: 10vh;
}
.displayContenido > h1{
  text-align: center;
  font-size: 2em;
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  transition: 1.5s;
}
.displayContenido > h1{
  font-size: 3.5em;
  margin-bottom: 3rem;
  color: white;
  text-shadow: 2px 1px 1px rgb(255, 187, 0);
  
}
.parrafoPrincipal{
  font-size: 1.7rem ;
  line-height: 1.6;
  text-align: center;
  color: white;
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  text-shadow: 2px 1px 1px violet;
  margin-top: -2rem;
}
/*FOOTER*/
footer {
  width: 100%;
  margin: 0px 0px 10px 0px;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  bottom: 0;
}
.logo1{
  width: 4rem;
}
.Contacto{
  text-align: center;
  margin-left: 20px;
  font-size: 1rem;
}
.copy2{
  text-align: center;
  font-size: 1rem;
  margin-right: 20px;
}
/* MEDIA PARA SCREEN 1465px */
@media screen and (max-width: 1465px){
  .lista1 {
    font-size: 1.4em;
  }
  .lista2 {
    font-size: 0.9em;
  }
  .contenido {
    width: 85vw;
    height: 60vh;
  }
  .textoContenido {
    width: 60%;
    height: 100%;
  }
  .displayContenido{
    margin-top: 5px;
    margin-left: 0;
  }
  .displayContenido > h1{
    transition: 1.5s;
    font-size: 2.5em;
  }
  .displayContenido > h2,h3{
    transition: 1.5s;
    font-size: 1.8em;
  }
  .parrafoPrincipal{
    font-size: 1.5rem ;
    line-height: 1.3;
  }
}
/* MEDIA PARA SCREEN 850px*/
@media screen and (max-width: 850px) { 
  .lista1 {
    font-size: 1em;
  }
  .lista2 {
    font-size: 0.9em;
    flex-direction: column;
  }
  .contenido {
    width: 85vw;
    height: 60vh;
  }
  .textoContenido {
    width: 60%;
    height: 100%;
  }
  .displayContenido{
    margin-top: 5px;
    margin-left: 0;
  }
  .displayContenido > h1{
    margin-top: 10px;
    font-size: 2.3em;
  }
  .displayContenido > h2,h3{
    transition: 1.5s;
    font-size: 1.6em;
  }
  .imagenContenido{
    display: none;
  }
  .parrafoPrincipal{
    font-size: 1.3rem;
    line-height: 1;
    width: 100%;
    margin-top: 2vh;
  }
}
/* MEDIA PARA SCREEN 540px*/
@media screen and (max-width: 430px){
  .lista1 {
    font-size: 0.8rem;
    padding: 3%;
  }
  .lista2 {
    flex-direction: column;
    font-size: 0.75rem;
    text-align: center;
  }
  .contenido{
    width: 98%;
  }
  .textoContenido {
    width: 95%;
    height: 100%;
  }
  .displayContenido{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .displayContenido > h1{
    font-size: 2.0em;
    margin-top: 5vh;
  }
  .displayContenido > h2,h3{
    font-size: 1.2em;
  }
  .parrafoPrincipal{
    font-size: 1.1rem;
    line-height: 1;
    width: 100%;
    margin-top: 2vh;
  }
}