/*BODY*/
*{
  box-sizing: border-box;
  color: white;
  font-family: "Merriweather", serif;
}
body {
  background-color: rgb(184, 184, 184);
  background-repeat: repeat-y;
  background-size: cover;
  background-position: center;
}

/*HEADER*/
.header {
  height: 8vh;
  display: flex;
  justify-content: space-between;
}
.navbar {
  width: 100%;
  height: 70px;
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.lista1 {
    width: 25%;
    font-weight: 450;
    font-size: 1.5em;
    text-shadow: 2px 2px 2px rgb(138, 26, 138);
    display: flex;
    justify-content: space-between;
}
.lista2 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-weight: 450;
    font-size: 1em;
    text-shadow: 2px 2px 2px rgb(138, 26, 138);
}
.lista1 li,
.lista2 li {
  margin: 0.5vh;
}
.lista1 a,
.lista2 a {
  text-decoration: none; 
  position: relative; 
  color: #fff;
  text-decoration: none;
  display: flex;
}
.lista1 a::after,
.lista2 a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: white;
  transition: width 0.3s ease;
  opacity: 65%;
}
.lista1 a:hover::after,
.lista1 a.subrayado-permanente::after {
  width: 100%; 
}



/*MAIN*/
main {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contenido {
  width: 75vw;
  height: 75vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: #666666;
  margin-top: 4vh;
  border-bottom-right-radius: 150px;
  border-top-right-radius: 10px;
  border-top-left-radius: 120px;
  border-bottom-left-radius: 10px;
  box-shadow: 5px 5px 20px rgba(127, 126, 126, 0.681); 
  opacity: 90%;
}
.pagina {
  display: none;
  margin:5%;
}
.activa {
  display: block;
}
.displayContenido{
  height: 68vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-around;
  align-items: center;
  justify-content: center;
}
.displayContenido2{
  height: 68vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-around;
  align-items: center;
  justify-content: center;
}
.displayContenido > h1,h2,h3{
  text-align: center;
  font-size: 1.6em;
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  transition: 1.5s;
  color:rgb(255, 255, 255);
  text-shadow: 2px 2px 4px rgb(158, 3, 206);
}
.displayContenido > h1{
  font-size: 3em;
  text-shadow: 2px 1px 1px rgb(255, 187, 0);
  margin-top: 1vh;
}
.displayContenido > h2,u{
  margin-top: 1vh;
  color: rgb(255, 255, 255);
}
.textoPrincipal{
  font-size: 3vh;
  color:rgb(255, 255, 255);
  line-height: 1.1;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  text-align: center;
  transition: 1.5s;
  text-align: center;
}
.textoUnete{
  font-size: 2em; 
  color:rgb(255, 255, 255);
  text-shadow: 2px 2px 4px rgb(158, 3, 206);
  font-weight: 400;
  margin: 0;
  text-align: center;
  margin-bottom: 15px;
  text-align: center;
}
.displayContenido>ul{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  width: 100%;
  margin-bottom: 30px;
  font-size: 1em;
  font-weight: 400;
  line-height: 2;
}
.integrante{
  color:rgb(255, 255, 255);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  font-family: "Libre Baskerville", serif;
  text-align: center;
  font-size: 2vh;
}
.perfilP{
  font-size: 1.4em;
  text-align: center;
}
.laburo{
  font-size: 1.2em;
  text-align: center;
  text-shadow: 2px 2px 2px rgb(138, 26, 138);
}
.integrante2{
  color:rgb(255, 255, 255);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  font-family: "Libre Baskerville", serif;
  text-align: center;
  font-size: 1.5vh;
}
.integrante3 {
  font-size: 1.4vh;
  font-weight: bold;
  color: rgb(255, 255, 255);
}
.final{
  color:green;
  font-size: 2vh;
}
.hSkills{
color: red;
font-size: 2vh;
font-weight: bolder;
text-shadow: 2px 2px 2px rgb(138, 26, 138);
}
.sSkills{
  color:rgb(4, 145, 145);
  font-size: 2vh;
  font-weight: bolder;
  text-shadow: 2px 2px 2px rgb(138, 26, 138);
}
.hSkills1{
  color: red;
  font-size: 1.7vh;
  font-weight: bold;
  text-shadow: 2px 2px 2px rgb(138, 26, 138);
}
.sSkills1{
  color:rgb(4, 145, 145);
  font-size: 1.7vh;
  font-weight: bold;
  text-shadow: 2px 2px 2px rgb(138, 26, 138);
}
.displayRedes{
  width: 100%;
  margin-top: 15vh;
  margin-bottom: 10vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}
.redes-container {
  display: flex;
  justify-content: space-between;
}
.redes{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.redes2, .redes3 {
  flex: 1;
}
.botones {
  display: flex;
  justify-content: center;
  gap: 7px; 
}
.btn{
  background-color: black;
  padding: 0.6vh;
  border-radius: 30px;
  margin: 1px;
}



/*FOOTER*/
footer {
  width: 100%;
  margin: 0px 0px 10px 0px;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  bottom: 0;
}
.logo1{
  width: 4rem;
}
.Contacto{
  text-align: center;
  margin-left: 20px;
  font-size: 1rem;
}
.copy2{
  text-align: center;
  font-size: 1rem;
  margin-right: 20px;
}
  
/* MEDIA PARA SCREEN 1465px */
@media only screen and (max-width: 1465px) {
  .contenido {
    width: 80vw;
    height: auto;
    border-radius: 20px;
  }
  .navbar {
    height: 60px;
  }
  .lista1 {
    font-size: 1em;
  }
  .lista2 {
    font-size: 0.5em;
  }
  .displayContenido2 > h2,u{
    font-size: 0.9em;
  }
  .perfilP{
    font-size: 0.9em;
  }
  .hSkills1{
    font-size: 0.9em;
  }
  .sSkills1{
    font-size: 1em;
  }
  .integrante3{
    font-size: 0.5em;
  }
}

/* Para pantallas con un máximo ancho de 850px */
@media only screen and (max-width: 1000px) {
  .contenido {
    width: 90vw;
    border-radius: 10px;
  }
  .navbar {
    height: 40px;
    font-size: 0.7em;
  }
  .lista1 {
    font-size: 1.4em;
    text-align: center;
    padding-left: 1vw;
  }
  .lista2 {
    font-size: 1.5em;
    justify-content: center;
  }
  .displayContenido > h1{
    font-size: 1.5em;
  }
  .displayContenido > h2,u{
    font-size: 1.2em;
  }
  .displayContenido2 > h2,u{
    font-size: 1.2em;
  }
  .textoUnete{
    font-size: 1.2em;
  }
  .textoPrincipal {
    font-size: 1.3em;
  }
  .integrante{
    font-size: 1.1em;
  }
  .perfilP{
    font-size: 0.8em;
  }
  .laburo{
    font-size: 1em;
    text-align: center;
    text-shadow: 2px 2px 2px rgb(138, 26, 138);
    margin: 0;
  }
  .integrante > u{
    font-size: 1em;
  }
  .integrante2{
    font-size: 0.8em;
  }
  .hSkills{
    font-size: 1.1em;
  }
  .redes2 > ul,p{
    font-size: 0.8em;
  }
  .redes3 > ul,p{
    font-size: 1em;
  }
  .hSkills1{
    font-size: 1.9em;
  }
  .sSkills1{
    font-size: 1.4em;
  }
  .integrante3{
    font-size: 0.5em;
  }
  .final{
    font-size: 1.2em;
  }
  .btn {
    padding: 0.4vh;
  }
  footer {
    align-items: center;
    text-align: center;
  }
}

/* Para pantallas con un máximo ancho de 390px */
@media only screen and (max-width: 580px) {
  .contenido {
    width: 90vw;
    border-radius: 10px;
  }
  .navbar {
    height: 40px;
    font-size: 0.7em;
  }
  .lista1 {
    font-size: 1em;
    text-align: center;
  }
  .lista2 {
    font-size: 0.8em;
    justify-content: center;
  }
  .displayContenido > h1{
    font-size:1.5em;
  }
  .displayContenido > h2,u{
    font-size: 1em;
  }
  .displayContenido2 > h2,u{
    font-size: 1em;
  }
  .textoUnete{
    font-size: 0.9em;
  }
  .textoPrincipal {
    font-size: 0.8em;
  }
  .integrante{
    font-size: 0.7em;
  }
  .perfilP{
    font-size: 0.73em;
  }
  .laburo{
    font-size: 0.6em;
    text-align: center;
    text-shadow: 2px 2px 2px rgb(138, 26, 138);
    margin: 0;
  }
  .integrante2{
    font-size: 0.6em;
  }
  .hSkills{
    font-size: 1em;
  }
  .redes2 > ul,p{
    font-size: 0.7em;
  }
  .redes3 > ul,p{
    font-size: 0.4em;
  }
  .hSkills1{
    font-size: 1.1em;
  }
  .sSkills1{
    font-size: 1.1em;
  }
  .integrante3{
    font-size: 0.55em;
  }
  .final{
    font-size: 1.2em;
  }
  .btn {
    padding: 0.4vh;
  }
  footer {
    align-items: center;
    text-align: center;
  }
}
